<div class="list-group">
  <a
    class="list-group-item list-group-item-action"
    href="{{ url_for('akademik.dashboard') }}"
    >Dashboard</a
  >
  <a
    class="list-group-item list-group-item-action"
    href="{{ url_for('akademik.dosen_list') }}"
    >Dosen</a
  >
  <a
    class="list-group-item list-group-item-action"
    href="{{ url_for('akademik.mahasiswa_list') }}"
    >Mahasiswa</a
  >
  <a
    class="list-group-item list-group-item-action"
    href="{{ url_for('akademik.assign_advisor') }}"
    >Assign Pembimbing</a
  >
  <a
    class="list-group-item list-group-item-action"
    href="{{ url_for('akademik.fakultas_list') }}"
    >Fakultas</a
  >
  <a
    class="list-group-item list-group-item-action"
    href="{{ url_for('akademik.kelas_list') }}"
    >Kelas</a
  >
  <hr class="my-2" />
</div>
