{% extends "base.html" %} {% block title %}Tambah Dosen{% endblock %} {% block
content %}
<div class="row">
  <div class="col-md-3">{% include 'akademik/_sidebar.html' %}</div>
  <div class="col-md-9">
    <div class="card p-4">
      <h4>Tambah Dosen</h4>
      {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
      {% endif %} {% if success %}
      <div class="alert alert-success">Dosen berhasil ditambahkan.</div>
      {% endif %}
      <form method="post">
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input class="form-control" name="username" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            class="form-control"
            name="password"
            type="password"
            required
          />
        </div>
        <button class="btn btn-primary">Buat Dosen</button>
        <a class="btn btn-link" href="{{ url_for('akademik.dashboard') }}"
          >Batal</a
        >
      </form>
    </div>
  </div>
</div>
{% endblock %}
